/* Add a free-to-use custom font to the webpage */
@font-face { font-family: Anggota; src: url('../media/a-anggota-font/Anggota-d9v9E.otf'); } 

* {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
}

/* Name the grid items for proper website layout */

.page-header {
    grid-area: head;
}

#primary-nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foot;
}

/* Set the default layout of the blog-post page (mobile) */

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "head"
        "main"
        "aside"
        "foot";     
 }

 aside, footer {
    text-align: center;
 }

 /* Set default behavior for images, paragraphs, article header, and nav items */

 p {
    padding-left: 0.5em;
    padding-right: 0.5em;
 }

 article h1 {
    padding-left: 0.25em;
 }

 #primary-nav li {
    list-style: none;
 }

/* Set the default styling for main content, including article, img, and p elements */

article h1 {
    font-size: 2.5em;
    align-self: center;
}

.date {
    align-self: center;
}

.meat {
    text-align: justify;
}

.article-image {
    min-width: 0px;
    width: 98%; 
    height: auto;
 }

.square-image-container {
    display: flex;
    background-color: rgba(215, 0, 215, 30%);
    box-shadow: inset 0px 0px 0.5em 0.5em rgba(215, 0, 215, 30%);
    border-radius: 0.25em 0.25em 0 0;
    justify-content: center;
}

.square-image {
    min-width: 0px;
    width: 50%;
    height: auto;
}

article p {
    font-family: Anggota;
}

/* Set the default styling for secondary nav */

#secondary-nav {
    text-align: center;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
}

#secondary-nav > a {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding: 0em 0.5em;
    
}

/* Set backgrounds and borders for the main article and navs */

article {
    background-color: rgba(200, 255, 255, 55%);
    box-shadow: inset 0px 0px 10px 10px rgba(200, 255, 255, 55%);
    border-radius: 0.5em;
    color: black;
}

#secondary-nav a {
    background-color: aqua;
    border-radius: 0.2em;
    color: black;
}

#secondary-nav a:hover {
    background-color: rgba(247, 214, 142, 0.884);
    color: rgb(57, 58, 59);
}

/* Increase the font size for the aside */

aside {
    font-size: larger;
}

/* style the submit button for the email signup */

#email-signup-box input[type=submit] {
    width: 6.5em;
    margin: 0.5em auto;
    border: none;
    border-radius: 0.5em;
    
}

/* Set the layout for the medium-width page */
 
@media all and (min-width: 660px) {

    body {
       grid-template-columns: 200px auto;
       column-gap: 0.5em;
       grid-template-rows: auto auto auto auto auto auto;    
       grid-template-areas: 
          "head head" 
          "aside nav"
          "aside main"
          "aside main"
          "foot foot";
    }

    .page-header {
        text-align: center;
    }

    .nav-items {
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
    }

    #primary-nav li {
        padding: 0.5em 0;
    }

    .square-image-container {
        width: 98%;
    }

    /* apply the same link colors from the secondary nav to the primary nav */

    #primary-nav a {
        border-radius: 0.2em;
        padding: 1em;
    }

    /* stick the email signup box to the viewport when it is on the side */

    aside {
        padding-left: 0.5em;
    }
    
    #email-signup-box {
        background: linear-gradient(aqua,blue);
        position: sticky;
        top: 0.5em;
        margin-top: 0.5em;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #email-signup-box label {
        text-align: right;
    }

    aside p {
        margin-top: 0;
    }

    input[type=email] {
        width: 60%;
    }
    
    #email-signup-box input[type=submit] {
        background-color: rgba(200, 255, 255, 55%);
        width: 6.5em;
        margin: 0.5em auto;
        border: none;
        border-radius: 0.5em;
    }

}

/* Set the layout for the large-width page */

@media all and (min-width: 900px) {

    body {
       grid-template-columns: auto minmax(auto,1000px) auto;
       grid-template-rows: auto auto auto;    
       grid-template-areas: 
          "head head head" 
          "nav main aside"
          "foot foot foot";
    }

    #primary-nav, aside {
        width: 20vw;
        max-width: 340px;
    }

    #primary-nav {
        margin-left: auto;
    }

    aside {
        margin-right: auto;
    }

    #primary-nav a {
        display: block;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        margin: 0 0 0 0.5em;
    }

    aside {
        padding-left: 0em;
        padding-right: 0.5em;
    }

    /* Stick the primary nav to the viewport similar to the aside, and adjust the aside */

    .nav-items {
        position: sticky;
        top: 0em;
    }

    #email-signup-box {
        margin-top: 0.5em;
        height: auto;
        display: block;
    }

    /* increase article font size slightly */

    article p {
        font-size: 1.5em;
    }

    /* Modify behavior for the images to take up the full width of the article */

    .article-image, .square-image-container {
        width: 100%;
    }

}

