
* {
    font-family: Chelsea-Market;
}



/* Set the default layout of the blog-post page (mobile) */

body {
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "head"
        "main"
        "aside"
        "foot";     
 }

/* Set default behavior for images, paragraphs, article header, and nav items */

p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.article-head {
    text-align: center;
}

.article-head h1 {
    margin: 0;
}

/* Set the default styling for main content, including article, img, and p elements */

.article-head h1 {
    font-size: 2.5em;
}

.article-head p {
    margin: auto 0;
    padding: 0;
}

.date {
    align-self: center;
}

.meat {
    text-align: justify;
}

.article-image {
    min-width: 0px;
    width: 98%; 
    height: auto;
 }

.purple-image-container {
    border-radius: 0.25em;
}

.square-image {
    width: 50%;
    height: auto;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meat p, .meat p em, .meat strong {
    font-family: Anggota;
}

/* Set the default styling for secondary nav */

#secondary-nav {
    text-align: center;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
}

#secondary-nav > a {
    font-size: 1.5em;
    padding: 0em 0.5em;
    
}

/* Set backgrounds and borders for the main article and navs */

article {
    background-color: rgba(200, 255, 255, 55%);
    border-radius: 0.5em;
    color: black;
}

#secondary-nav a {
    background-color: aqua;
    border-radius: 0.2em;
    color: black;
}

#secondary-nav a:hover {
    background-color: rgba(247, 214, 142, 0.884);
    color: rgb(57, 58, 59);
}

/* Set the layout for the medium-width page */
 
@media all and (min-width: 660px) {

    body {
       grid-template-columns: 200px auto;
       column-gap: 0.5em;
       grid-template-rows: auto auto auto auto auto auto;    
       grid-template-areas: 
          "head head" 
          "aside nav"
          "aside main"
          "aside main"
          "foot foot";
    }

    .nav-items {
        margin-right: 2%;
    }

    .purple-image-container {
        width: 98%;
    }

    /* stick the email signup box to the viewport when it is on the side */

    aside {
        padding-left: 0.5em;
    }
    
    #email-signup-box {
        background: linear-gradient(aqua,blue);
        position: sticky;
        top: 0.5em;
        margin-top: 0.5em;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.5em;
    }

    #email-signup-box label {
        text-align: right;
    }

    aside p {
        margin-top: 0;
    }

    input[type=email] {
        width: 60%;
    }
    
    #email-signup-box input[type=submit] {
        background-color: rgba(200, 255, 255, 55%);
        width: 6.5em;
        margin: 0.5em auto;
        border: none;
        border-radius: 0.5em;
    }

}

/* Set the layout for the large-width page */

@media all and (min-width: 900px) {

    body {
       grid-template-columns: auto minmax(auto,1000px) auto;
       grid-template-rows: auto auto auto;    
       grid-template-areas: 
          "head head head" 
          "nav main aside"
          "foot foot foot";
    }

    #primary-nav, aside {
        width: 20vw;
        max-width: 340px;
    }

    #primary-nav {
        margin-left: auto;
    }

    aside {
        margin-right: auto;
    }

    aside {
        padding-left: 0em;
        padding-right: 0.5em;
    }

    /* Stick the primary nav to the viewport similar to the aside, and adjust the aside */

    .nav-items {
        position: sticky;
        top: 0.25em;
    }

    #email-signup-box {
        margin-top: 0.5em;
        height: auto;
        display: block;
    }

    /* increase article font size slightly */

    article p {
        font-size: 1.5em;
    }

    /* Modify behavior for the images to take up the full width of the article */

    .article-image, .purple-image-container {
        width: 100%;
    }

}

