/* Add a free-to-use custom font to the webpage */
@font-face { font-family: Anggota; src: url('../media/a-anggota-font/Anggota-d9v9E.otf'); } 

* {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
}

/* Name the grid items for proper website layout */

.welcome-message {
    grid-area: message;
    background-color: rgba(0, 255, 255, 0.219);
}

/* Set the default layout of the home page (mobile) */

body {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "head"
        "message"
        "main"
        "aside"
        "foot";     
}

main {
    display: flex;
    flex-direction: column;
}

main h1 {
    text-align: center;
    flex: 0 0 1;
}

/* Set style for current page nav link */

li[href="#"] , #primary-nav a[href="#"] {
    background-color: rgba(247, 214, 142, 0.884);
}

/* Set font of message */

.welcome-message h2 {
    font-family: Anggota;
    padding: 0 5%;
    text-align: center;
    font-weight: normal;
}

 /* Set default behavior for post cards and post card items */

#card-deck {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    max-width: 400px;
}

.post-card {
    width: 100%;
}

.post-card a {
    text-decoration: none;
    color: black;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.219);
    border-radius: 0 0 1em 1em;
}

.post-card-img {
    min-width: 0px;
    width: 100%; 
    height: auto;
    border-radius: 1em 1em 0 0;
}

.post-card .image-container {
    display: flex;
    border-radius: 1em;
}

.square-image-container {
    border-radius: 1em 1em 0 0;
}

.square-image {
    width: auto;
    height: 202.583px;
}

.card-text h2 {
    margin: 0;
}

.card-text p {
    margin: 0 0 0.5em 0;
}

/* Set the layout for the medium-width page */
 
@media all and (min-width: 660px) {

    body {
       grid-template-columns: auto;
       column-gap: 0.5em;
       grid-template-rows: auto auto auto 1fr auto auto auto;    
       grid-template-areas: 
          "head"
          "message" 
          "nav"
          "main"
          "aside"
          "foot";
    }

    #primary-nav {
        position: sticky;
        top: 0;
    }


    /* Set behavior for medium layout of postcards */

    #card-deck {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
        max-width: 100%;
     }
    
    .post-card {
        max-width: 360px;
    }

}

@media all and (min-width: 900px) {

    body {
       grid-template-columns: 1fr 3fr 1fr;
       grid-template-rows: auto auto 1fr auto auto;
       grid-template-areas: 
          "head head head"
          "message message message"
          "nav main ."
          "aside aside aside"
          "foot foot foot";
    }

    #primary-nav {
        width: 20vw;
        max-width: 340px;
    }

}
