/* Add a free-to-use custom font to the webpage */
@font-face { font-family: Anggota; src: url('../media/a-anggota-font/Anggota-d9v9E.otf'); } 

* {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
}

/* Name the grid items for proper website layout */

.page-header {
    grid-area: head;
}

#primary-nav {
    grid-area: nav;
}

.welcome-message {
    grid-area: message;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foot;
}

/* Set the default layout of the home page (mobile) */

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "head"
        "message"
        "main"
        "aside"
        "foot";     
 }

 aside, footer {
    text-align: center;
 }

 /* Set default behavior for images, card links, and nav items */

.post-card-img {
    min-width: 0px;
    width: 100%; 
    height: auto;
 }

 .square-image-container {
    display: flex;
    background-color: rgba(215, 0, 215, 30%);
    box-shadow: inset 0px 0px 0.5em 0.5em rgba(215, 0, 215, 30%);
    justify-content: center;
}

.square-image {
    min-width: 0px;
    width: 50%;
    height: auto;
}

 .post-card a {
    text-decoration: none;
    color: black;
 }

#primary-nav li {
    list-style: none;
 }

 nav a {
    text-decoration: none;
    color: black
 }

/* Set the background for the page header and footer, as well as the body */

.page-header, footer {
    background: linear-gradient(aqua,blue);
}

body {
    background-color: rgb(215, 250, 244);
}

/* Set the layout for the medium-width page */
 
@media all and (min-width: 660px) {

    body {
       grid-template-columns: auto;
       column-gap: 0.5em;
       grid-template-rows: auto auto auto auto auto auto auto;    
       grid-template-areas: 
          "head" 
          "nav"
          "message"
          "main"
          "aside"
          "foot";
    }

    .page-header {
        text-align: center;
    }

    #primary-nav {
        background-color: rgb(215, 250, 244);
    }

    #primary-nav {
        position: sticky;
        top: 0;
    }

    .nav-items {
        padding: 0;
        display: flex;
        justify-content: space-between;
        /* margin-right: 2%; */
    }

    #primary-nav li {
        padding: 0.5em 0;
    }

    /* apply the same link colors from the secondary nav to the primary nav */

    #primary-nav a {
        background-color: aqua;
        border-radius: 0.2em;
        color: black;
        padding: 1em;
    }
    
    #primary-nav a:hover {
        background-color: rgba(247, 214, 142, 0.884);
        color: rgb(57, 58, 59);
    }

}
