/* Add a free-to-use custom font to the webpage */
@font-face { font-family: Anggota; src: url('media/a-anggota-font/Anggota-d9v9E.otf'); } 

* {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
}

/* Name the grid items for proper website layout */


header {
    grid-area: head;
}

#primary-nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foot;
}

/* Set the default layout of the page (mobile) */

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "head"
        "main"
        "aside"
        "foot";     
 }

 aside, footer {
    text-align: center;
 }

 header {
    margin: auto 0;
 }

 /* Set default behavior for images, paragraphs, article header, and nav items */

#article-image {
    min-width: 0px;
    width: 98%; 
    height: auto;
 }

 p {
    padding-left: 0.5em;
    padding-right: 0.5em;
 }

 article h1 {
    padding-left: 0.25em;
 }

 #primary-nav li {
    list-style: none;
 }

 nav a {
    text-decoration: none;
    color: black
 }

 #menu, #nav-toggle {
    display: none;
}

/* Set the background for the header and footer, as well as the body */

header, footer {
    background: linear-gradient(aqua,blue);
}

body {
    background-color: rgb(215, 250, 244);
}

/* Set the default styling for main content, including article, img, and p elements */

article h1 {
    font-size: 2.5em;
    align-self: center;
}

.date {
    align-self: center;
}

.meat {
    text-align: justify;
}

#title-image-container {
    display: flex;
    background-color: rgba(215, 0, 215, 30%);
    box-shadow: inset 0px 0px 0.5em 0.5em rgba(215, 0, 215, 30%);
    border-radius: 0.25em 0.25em 0 0;
    justify-content: center;
}

#title-image {
    min-width: 0px;
    width: 50%;
    height: auto;
}

article p {
    font-family: Anggota;
}

/* Set the default styling for secondary nav */

#secondary-nav {
    text-align: center;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
}

#secondary-nav > a {
    font-family: 'Comic Sans MS', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding: 0em 0.5em;
    
}

/* Set backgrounds and borders for the main article and navs */

article {
    background-color: rgba(200, 255, 255, 55%);
    box-shadow: inset 0px 0px 10px 10px rgba(200, 255, 255, 55%);
    border-radius: 0.5em;
    color: black;
}

.background-wrapper {
    background-image: url(media/pawel-czerwinski-AV06Lm42mVo-unsplash.jpg);
    border-radius: 0.5em;
}

#secondary-nav a {
    background-color: aqua;
    border-radius: 0.2em;
    color: black;
}

#secondary-nav a:hover {
    background-color: rgba(247, 214, 142, 0.884);
    color: rgb(57, 58, 59);
}

/* Increase the font size for the aside */

aside {
    font-size: larger;
}

/* style the submit button for the email signup */

#email-signup-box input[type=submit] {
    width: 6.5em;
    margin: 0.5em auto;
    background-color: rgb(109, 109, 250);
    border: none;
    border-radius: 0.5em;
    
}

 /* Create a dropdown box for the mobile nav section */

 @media all and (max-width: 659px) {

    #primary-nav {
        box-sizing: border-box;
        position: absolute;
        right: 1em;
        top: 0.1em;
        height: 80px;
        width: 90px;
    }

    #nav-toggle {
        display: flex;
        flex-direction: column;
        border: solid 2px rgb(47, 47, 165);
        border-radius: 10%;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    .burger {
        height: 33%;
        background-color: rgb(47, 47, 165);
        margin: 8% 6%;
        border: 1px solid rgb(47, 47, 165);
        border-radius: 20%;
    }

    .nav-items {
        display: none;
    }

    #menu:checked ~ .nav-items {
        display: block;
        padding: 0;
        text-align: center;
        margin: 0;
        border: 0.5em solid aqua;
        border-radius: 10%;
    }

    .nav-items li {
        background-color: aqua;
        padding: 5px 0;
    }

    .nav-items li:hover {
        background-color: rgba(247, 231, 142, 0.884);
    }

    #nav-toggle:active {
        background-color: rgb(177, 250, 250);
    }

    /* Move the header off the edge of the body when in small-form */

    header {
        padding-left: 0.5em;
    }
    
}

/* Cause the nav-toggle button and header text to shrink below a certain screen width */

@media all and (max-width: 459px) {

    #primary-nav {
        width: 15vw;
        height: 13vw;
        top: 1vw;
        right: 2.8em;
    }

    .nav-items {
        width: fit-content;
        
    }

    header {
        padding-right: 27vw;
        font-size: 0.8em;
    }

}

/*
try to center the nav-toggle button at extremely low viewport-widths

@media all and (max-width: 365px) {

    #primary-nav {
        top: 2em;
        right: 2.8em;
    }

}
*/


/* Set the layout for the medium-width page */
 
@media all and (min-width: 660px) {

    body {
       grid-template-columns: 200px auto;
       column-gap: 0.5em;
       grid-template-rows: auto auto auto auto auto auto;    
       grid-template-areas: 
          "head head" 
          "nav nav"
          "aside main"
          "aside main"
          "foot foot";
    }

    header {
        text-align: center;
    }

    .nav-items {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    #primary-nav li {
        padding: 0.5em;
    }

    /* apply the same link colors from the secondary nav to the primary nav */

    #primary-nav a {
        background-color: aqua;
        border-radius: 0.2em;
        color: black;
        padding: 1em;
    }
    
    #primary-nav a:hover {
        background-color: rgba(247, 214, 142, 0.884);
        color: rgb(57, 58, 59);
    }

    /* stick the email signup box to the viewport when it is on the side */

    aside {
        padding-left: 0.5em;
    }
    
    #email-signup-box {
        background: linear-gradient(aqua,blue);
        position: sticky;
        top: 0.5em;
    }

    #email-signup-box label {
        text-align: right;
    }

    aside p {
        margin-top: 0;
    }

    input[type=email] {
        width: 60%;
    }
    
    #email-signup-box input[type=submit] {
        width: 6.5em;
        margin: 0.5em auto;
        background-color: rgba(200, 255, 255, 55%);
        border: none;
        border-radius: 0.5em;
        
    }

}

/* Set the layout for the large-width page */

@media all and (min-width: 900px) {

    body {
       grid-template-columns: 200px auto 200px;
       grid-template-rows: auto auto auto;    
       grid-template-areas: 
          "head head head" 
          "nav main aside"
          "foot foot foot";
    }

    #primary-nav a {
        display: block;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        margin: 0 0 0 0.5em;
    }

    aside {
        padding-left: 0em;
        padding-right: 0.5em;
    }

    /* Stick the primary nav to the viewport similar to the aside, and adjust the aside */

    .nav-items {
        position: sticky;
        top: 0em;
    }

    #email-signup-box {
        margin-top: 0.5em;
    }

    /* increase article font size slightly */

    article p {
        font-size: 1.5em;
    }

    /* Modify behavior for the article image (not title image) to take up the full width of the article */

    #article-image {
        width: 100%;
    }

}

