/* Sections:
    COLORS
    NAV DROPDOWN
    LAYOUT */

/* COLORS */

body {
    background-color: rgb(215, 250, 244);
}

.page-header, footer {
    background: linear-gradient(aqua,blue);
}

nav a {
    text-decoration: none;
    color: black
 }

#primary-nav a {
    background-color: aqua;
    color: black;
}

#primary-nav a:hover {
    background-color: rgba(247, 214, 142, 0.884);
    color: rgb(57, 58, 59);
}

#email-signup-box input[type=submit] {
    background-color: rgb(109, 109, 250);
}

@media all and (min-width: 660px) {

}

/* NAV DROPDOWN */

/* Create a dropdown box for the mobile nav section */

#menu, #nav-toggle {
    display: none;
}

@media all and (max-width: 659px) {

    .page-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #nav-dropdown {
        flex-shrink: 0;
        box-sizing: border-box;
        /* position: absolute;
        right: 1em; */
        height: 80px;
        width: 90px;
    }

    #nav-dropdown li {
        list-style: none;
    }

    #nav-toggle {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 8%;
        border: solid 2px rgb(47, 47, 165);
        border-radius: 10%;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    .burger {
        height: 16%;
        width: 90%;
        background-color: rgb(47, 47, 165);
        border: 1% solid rgb(47, 47, 165);
        border-radius: 20%;
    }

    .nav-items {
        display: none;
    }

    #menu:checked ~ .nav-items {
        display: block;
        position: relative;
        z-index: 10;
        padding: 0;
        text-align: center;
        margin: 0;
        border: 0.5em solid aqua;
        border-radius: 10%;
    }

    .nav-items li {
        background-color: aqua;
        padding: 5px 0;
    }

    .nav-items li:hover {
        background-color: rgb(224, 208, 115);
    }

    #nav-toggle:active {
        background-color: rgb(224, 208, 115);
    }

    /* Move the page header off the edge of the body when in small-form */

    .page-header {
        padding: 0 0.5em;
    }
    
}

@media all and (min-width: 660px) {

    #nav-dropdown {
        display: none;
    }

}