/* Sections:
    1. FONTS
    2. COLORS 
    3. NAV DROPDOWN 
    4. LAYOUTS 
    5. BEHAVIORS 
*/

/* ---------------- FONTS ---------------- */

/* free-to-use custom font: Anggota */
@font-face { font-family: Anggota; src: url('/media/fonts/a-anggota-font/Anggota-d9v9E.otf'); }



/* ---------------- COLORS ---------------- */

body {
    background-color: rgb(215, 250, 244);
}

.page-header, footer {
    background: linear-gradient(aqua,blue);
}

nav a {
    text-decoration: none;
    color: black
}

.square-image-container {
    background-color: rgba(215, 0, 215, 30%);
    box-shadow: inset 0px 0px 0.5em 0.5em rgba(215, 0, 215, 30%);
}

#email-signup-box input[type=submit] {
    background-color: rgb(109, 109, 250);
}

@media all and (min-width: 660px) {

    #primary-nav {
        background-color: transparent;
    }

    .nav-items a {
        background-color: aqua;
        color: black;
    }
    
    #primary-nav a:hover {
        background-color: rgba(247, 214, 142, 0.884);
        color: rgb(57, 58, 59);
    }
}

/* ---------------- NAV DROPDOWN ---------------- */

/* Create a dropdown box for the mobile nav section */

#menu, #nav-toggle {
    display: none;
}

@media all and (max-width: 659px) {

    .page-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #nav-dropdown {
        flex-shrink: 0;
        box-sizing: border-box;
        /* position: absolute;
        right: 1em; */
        height: 80px;
        width: 90px;
    }

    #nav-dropdown li {
        list-style: none;
    }

    #nav-toggle {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 8%;
        border: solid 2px rgb(47, 47, 165);
        border-radius: 10%;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    label ~ ul {
        background-color: aqua;
    }

    .burger {
        height: 16%;
        width: 90%;
        background-color: rgb(47, 47, 165);
        border-radius: 20%;
    }

    #primary-nav {
        display: none;
    }

    .nav-items {
        display: none;
    }

    #menu:checked ~ .nav-items {
        display: block;
        position: relative;
        z-index: 10;
        padding: 0;
        text-align: center;
        margin: 0;
        border: 0.5em solid aqua;
        border-radius: 10%;
    }

    .nav-items li {
        background-color: aqua;
        padding: 5px 0;
        border-radius: 0.25em;
    }

    .nav-items li:hover {
        background-color: rgb(224, 208, 115);
    }

    #nav-toggle:active {
        background-color: rgb(224, 208, 115);
    }

    /* Move the page header off the edge of the body when in small-form */

    .page-header {
        padding: 0 0.5em;
    }
    
}

@media all and (min-width: 660px) {

    #nav-dropdown {
        display: none;
    }

}

/* ---------------- LAYOUTS ---------------- */

/* Name the grid items for proper website layout */

.page-header {
    grid-area: head;
}

#primary-nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foot;
}

/* Set the default layout of the page (mobile) */

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    min-height: 100vh;
}

aside, footer {
    text-align: center;
}

.square-image-container {
    display: flex;
    justify-content: center; 
}

@media all and (min-width: 660px) {

    .nav-items {
        justify-content: center;
        gap: 10%;
    }

}

@media all and (min-width: 900px) {

    #primary-nav a {
        display: block;
    }

    #primary-nav {
        margin-top: 0.25em;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        margin: 0 0 0 0.5em;
    }

}

/* ---------------- BEHAVIORS ---------------- */

#primary-nav li {
    list-style: none;
}

.square-image {
    min-width: 0px;
}

aside {
    font-size: larger;
}

#email-signup-box input[type=submit] {
    width: 6.5em;
    margin: 0.5em auto;
    border: none;
    border-radius: 0.5em;
}

@media all and (min-width: 660px) {
    .page-header {
        text-align: center;
    }

    .nav-items {
        padding: 0;
        display: flex;
    }  

    #primary-nav li {
        padding: 0.25em 0;
    }

    #primary-nav a {
        border-radius: 0.5em;
        padding: 1em;
    }

}